---
import Layout from "@/layouts/Layout.astro"
import { Card } from "@/components/ui/card"
import type { Game } from "@/types/game"
import { Image } from "astro:assets"
import { Carrusel } from "@/components/carrusel"
import { Button } from "@/components/ui/button"
import { ReviewForm } from "@/components/reviewForm"

const { id } = Astro.params
const response = await fetch(`http://localhost:4321/api/gameId.json?id=${id}`)
const data: Game = await response.json()
const urlsArray = data.Screenshots.split(",")
---

<Layout title="Tienda">
	<Card className="h-full flex-1 overflow-y-auto p-3">
		<div class="flex justify-around pt-5">
			<div class="flex h-[450] w-[800px] flex-col space-y-5">
				<Carrusel client:load urls={urlsArray} />
				<div class="w-full flex-row">
					<Button variant={"secondary"}> Añadir a la lista de deseos</Button>
					<Button className="ml-5" variant={"default"}> Añadir a la tu biblioteca</Button>
				</div>
				<h1 class="">Reseñas</h1>
				<ReviewForm client:load />
			</div>

			<div class="w-[450px] flex-col">
				<Image src={data["Header image"]} alt="videojuego" width="450" height="400" />
				<div class="flex flex-row justify-between">
					<h1 class="pt-4">{data.Name}</h1>
					<p class="pt-4">
						{data["User score"]}
					</p>
				</div>
				<h2 class="pt-4">{data["About the game"]}</h2>
			</div>
		</div>
	</Card>
</Layout>
