---
import { Card } from "@/components/ui/card"
import { Input } from "@/components/ui/input"
import { Button } from "@/components/ui/button"
import { getSession } from "auth-astro/server"
import ChatLayout from "@/layouts/ChatLayout.astro"
const session = await getSession(Astro.request)
const { id } = Astro.params
---

<!-- Almacenar los datos de la sesión en un atributo 'data-' -->
<div id="session-data" data-session={JSON.stringify(session)} style="display: none;"></div>
<div id="session-id" data-id={id}></div>

<script type="module">
	import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js"

	const session = JSON.parse(document.querySelector("#session-data").dataset.session)
	const chatId = document.querySelector("#session-id").dataset.id
	const socket = io({
		auth: {
			username: session.user.name,
			uid: session.user.id,
			chatId: chatId,
			serverOffset: 0,
			connected: false,
		},
	})
	const form = document.getElementById("form")
	const input = document.getElementById("input")
	const message = document.getElementById("message")

	socket.on("chat message", (msg, serverOffset, username) => {
		const item = `<li>
			<p>${msg}</p>
			<small>${username}</small>
		</li>`
		message.insertAdjacentHTML("beforeend", item)
		socket.auth.serverOffset = serverOffset
		// scroll to bottom
		message.scrollTop = message.scrollHeight
	})

	form.addEventListener("submit", (e) => {
		e.preventDefault()

		if (input.value) {
			socket.emit("chat message", input.value, chatId)
			input.value = ""
		}
	})
</script>

<style>
	#message > li {
		padding: 0.5rem 1rem;
	}
</style>

<ChatLayout title="room">
	<Card client:load className="relative h-full w-full flex-1">
		<ul
			class="m-0 h-full list-none overflow-hidden overflow-y-scroll scroll-smooth p-[48px] text-foreground"
			id="message"
		>
		</ul>
		<form id="form" class="absolute bottom-0 left-0 right-0 flex h-[48px]">
			<Input
				client:load
				type="text"
				name="message"
				id="input"
				placeholder="Type a message"
				className="m-1 flex-1 focus:outline-none"
			/>
			<Button client:load type="submit">Enviar</Button>
		</form>
	</Card>
</ChatLayout>
