---
import { Card } from "@/components/ui/card"
import ChatLayout from "@/layouts/ChatLayout.astro"
---

<ChatLayout title="chats">
	<Card client:load className="relative h-full w-full flex-1">
		<p>BIENVENIDO ELIGE UN CHAT PARA EMPEZAR A HABLAR</p>
	</Card>
</ChatLayout>
