---
import "@/styles/globals.css"
import Layout from "../layouts/Layout.astro"
import { Card } from "@/components/ui/card"
import { Button } from "@/components/ui/button"
import { getSession } from "auth-astro/server"
const session = await getSession(Astro.request)
---

<Layout title="Inicio.">
	<Card className="h-full flex-1 p-3">
		<h1>Colecciones</h1>
		<Card className="relative aspect-square h-32 w-32 p-3 ">
			<h1 class="absolute bottom-2 ml-2">Videojuegos</h1>
		</Card>
		<h1>Mis juegos</h1>
	</Card>
</Layout>

<style></style>
