---
interface props {
	href: string
}

const { href } = Astro.props
---

<a
	href={href}
	class="flex items-center gap-6 px-5 py-3 font-medium text-muted-foreground transition duration-300 hover:text-foreground"
>
	<slot />
</a>
