---
interface Props {
	href: string
	nameI: string
}

const { href, nameI } = Astro.props
import { Github, Twitter, FileText } from "lucide-react"
---

<a
	href={href}
	title={`icono de ${nameI}`}
	class="cursor-pointer text-primary transition hover:scale-125 hover:opacity-70"
	target="_blank"
	rel="noopener"
>
	{
		{
			SiGithub: <Github />,
			SiTwitter: <Twitter />,
			SiFileText: <FileText />,
			// Agrega más iconos según sea necesario
		}[nameI]
	}
</a>
