---
import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro"
import { Card } from "@/components/ui/card"
---

<Layout title="Biblioteca.">
	<Card className="h-full flex-1">
		<h1>Inicio</h1>
		<p>Bienvenido a mi sitio web.</p>
	</Card>
</Layout>

<style></style>
