---
import { ViewTransitions } from "astro:transitions"
const { title } = Astro.props
import Footer from "@/components/Footer.astro"
import AsideMenu from "@/components/AsideMenu.astro"
import { Toaster } from "@/components/ui/toaster"
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /><meta
			name="generator"
			content={Astro.generator}
		/>
		<ViewTransitions fallback="none" />
	</head>

	<body>
		<div id="app" class="relative h-screen gap-2 p-2">
			<aside class="flex overflow-y-hidden [grid-area:aside] sm:flex-row md:flex-col">
				<AsideMenu />
			</aside>

			<main class="w-full overflow-y-hidden [grid-area:main]">
				<slot transition:persist />
				<Toaster client:load />
			</main>
			<footer class="hidden h-auto [grid-area:footer] md:block">
				<Footer />
			</footer>
		</div>
		<style>
			#app {
				display: grid;
				grid-template-areas:
					"aside main main"
					"footer footer footer ";
				grid-template-columns: 300px 1fr;
				grid-template-rows: 1fr auto;
			}
			@media screen and (max-width: 768px) {
				#app {
					grid-template-areas:
						"main"
						"aside"
						"footer";
					grid-template-columns: 1fr;
					grid-template-rows: 1fr auto;
				}
			}
		</style>
		<style is:global></style>
		<script>
			let previousTitle = document.title

			window.addEventListener("blur", () => {
				previousTitle = document.title
				document.title = "¡No te vayas! 😢"
			})

			window.addEventListener("focus", () => {
				document.title = previousTitle
			})
		</script>
	</body>
</html>
