---
interface Props {
	title: string
}

const { title } = Astro.props
import Footer from "@/components/Footer.astro"
import AsideMenu from "@/components/AsideMenu.astro"
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
	</head><links rel="icon" type="image/svg+xml" href="/favicon.svg"></links>
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>

	<body>
		<div id="app" class="relative h-screen gap-2 p-2">
			<aside class="flex flex-col overflow-y-hidden [grid-area:aside]">
				<AsideMenu title="sidemenu " />
			</aside>

			<main class="w-full overflow-y-hidden [grid-area:main]">
				<slot />
			</main>

			<footer class="h-auto [grid-area:footer]">
				<Footer title="footer" />
			</footer>
		</div>
	</body>

	<style>
		#app {
			display: grid;
			grid-template-areas:
				"aside main main"
				"footer footer footer ";
			grid-template-columns: 350px 1fr;
			grid-template-rows: 1fr auto;
		}
	</style>
	<style is:global></style>


</html>
