---
import AdminLayout from "@/layouts/AdminLayout.astro"
import { TablesDashboard } from "@/components/tablesDashboard"
---

<AdminLayout title="Dashboard">
	<div class="container mx-auto">
		<h1 class="text-4xl font-bold">Admin</h1>
		<p class="text-lg">Esta es la pagina del administrador</p>
		<TablesDashboard client:load />
	</div>
</AdminLayout>
